/* eyoucms.com 易优CMS -- 好用,免费,安全 */
#share-mask .tip, .plugin-share {
	text-align: center
}
#share-mask .icon, .plugin-share>.btn {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 4px;
	background: url(../img/share.png)no-repeat;
	-webkit-background-size: 96px auto;
	background-size: 96px auto;
	vertical-align: middle
}
.plugin-share>.qzone {
	background-position: 0 0
}
.plugin-share>.weixin {
	background-position: -32px 0
}
.plugin-share>.weibo {
	background-position: -64px 0
}
#share-mask {
	display: none;
	z-index: -1;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,.5)
}
#share-mask.on {
	display: block;
	z-index: 20
}
#share-mask .tip {
	display: none;
	height: 50px;
	line-height: 50px;
	background: #64ab23;
	color: #fff
}
#share-mask .dark {
	color: #000
}
#share-mask .tip.support, #share-mask.not-weixin .tip.not-support {
	display: block
}
#share-mask.not-weixin .tip.support {
	display: none
}
#share-mask .icon {
	width: 16px;
	height: 16px;
	-webkit-background-size: 62px auto;
	background-size: 62px auto;
	margin: 0 4px;
	vertical-align: -3px
}
#share-mask .icon-fc {
	background-position: 0 100%
}
#share-mask .icon-pointer {
	background-position: -17px 100%
}
#share-mask .dark .icon-pointer {
	background-position: -34px 100%
}
