@charset "utf-8";
/* eyoucms.com 易优CMS -- 好用,免费,安全 */
/*banner*/
.index_banner_cont {
	width: 100%;
	position: relative;
}
.index_banner_scroll {
	position: relative;
}
.index_banner_scroll div {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -950px;
	z-index: 0;
}
.banner_btn {
	width: 196px;
	height: 46px;
	position: absolute;
	top: 75px;
	right: 50%;
	margin-right: -593px;
	z-index: 10;
}
.banner_list {
	height: 46px;
	position: absolute;
	top: 0;
}
.banner_list span {
	width: 53px;
	height: 2px;
	background-color: #fff;
	margin: 0 6px;
	display: inline-block;
	float: left;
	cursor: pointer;
}
.banner_list span.current {
	background-color: #0b4e9c;
}
.banner_span {
	display: none;
	position: absolute;
	top: 0;
	height: 46px;
}
.banner_span a {
	width: 49px;
	height: 42px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	background-color: #fff;
	display: inline-block;
	margin: 0 6px;
	float: left;
	padding: 2px;
	overflow: hidden;
}
.banner_span a.current {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
}
.index-banner {
	position: relative;
	overflow: hidden;
	height: 670px;
}
.index-btn {
	width: 1179px;
	height: 40px;
	margin: -40px auto 0 auto;
	background: url(../img/index-btnbg.png) repeat;
	z-index: 100;
}
.index-btn span {
	height: 40px;
	float: left;
	border-right: 1px solid #a7a7a7;
	color: #fff;
	line-height: 40px;
	cursor: pointer;
}
.index-btn a {
	background: url(../img/iebg.gif) repeat scroll;
	_position: relative;
	display: block;
	float: left;
	height: 40px;
	line-height: 200px;
	margin-top: -39px;
	width: 294px;
}
.index-btn span.cur, .index-btn span.cur1 {
	background-color: #31bdeb;
}
.btn1 {
	width: 179px;
	background: url(../img/btn1.png) no-repeat 80px center;
	padding-left: 115px;
}
.btn2 {
	width: 159px;
	background: url(../img/btn4.png) no-repeat 105px center;
	padding-left: 135px;
}
.btn3 {
	width: 164px;
	background: url(../img/btn3.png) no-repeat 100px center;
	padding-left: 130px;
}
.btn4 {
	width: 164px;
	background: url(../img/btn2.png) no-repeat 100px center;
	padding-left: 130px;
}
.browser {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -590px;
	z-index: 100;
}
.index_menu {
	width: 1180px;
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -590px;
	z-index: 101;
}
.index_menu_item {
	width: 257px;
	padding: 20px 19px 0 19px;
	background-color: #fff;
}
.index_menu_item div {
	padding: 25px 0;
}
.index_menu_item div a {
	width: 123px;
	padding-left: 5px;
	float: left;
	line-height: 27px;
	font-family: "Microsoft YaHei";
	font-size: 14px;
}
.index_menu_item div img {
	width: 258px;
	height: 112px;
}
.menuItem1 {
	position: absolute;
	left: 0;
	top: 0;
}
.menuItem2 {
	position: absolute;
	left: 295px;
	top: 0;
}
.menuItem3 {
	position: absolute;
	left: 590px;
	top: 0;
}
.menuItem4 {
	position: absolute;
	left: 884px;
	top: 0;
}
